# Data cleaning and pre-processing

Project flow:  
1. Topic modeling to develop the aspect categories  
2. Reshape long: Review id with multiple aspects per review  
3. Finding the aspect words in sentences and classify to aspect category
**HOW**  
  
4. Computing the polarity (sentiment) for each aspect in each entry  
5. Create a sentence for each aspect/sentiment
6. Create a summary of each review - sentence order weighted by aspect topic weight

**IMPORT SUPPORTING PACKAGES**

In [1]:
#!python -m spacy download en
import spacy
nlp = spacy.load('en')
import nltk
from nltk.corpus import stopwords
import json
import boto3
from pandas.io.json import json_normalize
import pandas as pd
import numpy as np
import pickle
import nltk
import re
import string
from nltk.corpus import stopwords

nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer
lemmatizer = nltk.stem.WordNetLemmatizer()
w_tokenizer = nltk.tokenize.WhitespaceTokenizer()

[nltk_data] Downloading package wordnet to /home/ubuntu/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

**DEFINE HELPER FUNCTIONS**

In [2]:
def read_json_file_from_S3(filename):
    s3 = boto3.resource('s3',
                        aws_access_key_id='AKIAJLCANPRLUUJ3MR5A', #provide your aws_access_key_id
                        aws_secret_access_key= 'LgvENqvcUu6HDorEGBZqj6sZv6Soiy3H9zirUo6k') #provide your aws_secret_access_key

    content_object = s3.Object('mertisyelpdataset', filename)
    rawdata = []
    for line in content_object.get()['Body'].read().splitlines():
        rawdata.append(line)
    jsondata = list(map(lambda x: json.loads(x.decode('utf-8')), rawdata))
    return json_normalize(jsondata)

In [3]:
def split_sentences(review_df):
    a=review_df[['text','review_id']]
    b = pd.DataFrame(a.text.str.split('.').tolist(), index=a.index).stack()
    b = pd.DataFrame(b).reset_index()
    b.columns = ['review_index', 'sentence_index', 'sentence']
    b = b[b['sentence'].isna() == False]
    b = b[b['sentence'] != ''].reset_index(drop = True)
    sentences = pd.merge(b, a, how='left', left_on='review_index', right_index=True)
    sentences = sentences.drop(['text'], axis=1)
    return(sentences)

nlp = spacy.load('en', disable=['parser', 'ner'])
def clean_sentences(sentences):
    sentences = [re.sub("\n|\r", "", s) for s in sentences]
    
    sentences = [s.lower() for s in sentences] # lower case    
    sentences = [s.translate(str.maketrans('', '', string.punctuation)) for s in sentences] # remove punctuation
    
    allowed_postags=['NOUN']
    def lemmatize_alphanumeric(sentence):
        words = [lemmatizer.lemmatize(word) for word in sentence.split() if word.isalpha()
                and nlp.vocab[word].is_stop == False]
        sentence = ' '.join(words)
        return(sentence)
    
    sentences = [lemmatize_alphanumeric(s) for s in sentences] # lemmatize and remove non alpha-numeric characters
    sentences = [w_tokenizer.tokenize(s) for s in sentences]
    return(sentences)

def get_nouns(text):
    allowed_postags=['NOUN']
    doc = nlp(' '.join(text))
    nouns = [word for word in doc if word.pos_ in allowed_postags]
    return(nouns)

In [5]:
#review_df = read_json_file_from_S3('review.json')
#pd.to_pickle(review_df, 'reviews.pkl')

In [6]:
#bus_df = read_json_file_from_S3('business.json')
#pd.to_pickle(bus_df, 'business.pkl')

**1. Business df for pizza categories only**

In [11]:
bus_df = pd.read_pickle('business.pkl')

In [13]:
bus_df.columns

Index(['address', 'attributes', 'attributes.AcceptsInsurance',
       'attributes.AgesAllowed', 'attributes.Alcohol', 'attributes.Ambience',
       'attributes.BYOB', 'attributes.BYOBCorkage', 'attributes.BestNights',
       'attributes.BikeParking', 'attributes.BusinessAcceptsBitcoin',
       'attributes.BusinessAcceptsCreditCards', 'attributes.BusinessParking',
       'attributes.ByAppointmentOnly', 'attributes.Caters',
       'attributes.CoatCheck', 'attributes.Corkage',
       'attributes.DietaryRestrictions', 'attributes.DogsAllowed',
       'attributes.DriveThru', 'attributes.GoodForDancing',
       'attributes.GoodForKids', 'attributes.GoodForMeal',
       'attributes.HairSpecializesIn', 'attributes.HappyHour',
       'attributes.HasTV', 'attributes.Music', 'attributes.NoiseLevel',
       'attributes.Open24Hours', 'attributes.OutdoorSeating',
       'attributes.RestaurantsAttire', 'attributes.RestaurantsCounterService',
       'attributes.RestaurantsDelivery', 'attributes.RestaurantsGoodForGroups',
       'attributes.RestaurantsPriceRange2',
       'attributes.RestaurantsReservations',
       'attributes.RestaurantsTableService', 'attributes.RestaurantsTakeOut',
       'attributes.Smoking', 'attributes.WheelchairAccessible',
       'attributes.WiFi', 'business_id', 'categories', 'city', 'hours',
       'hours.Friday', 'hours.Monday', 'hours.Saturday', 'hours.Sunday',
       'hours.Thursday', 'hours.Tuesday', 'hours.Wednesday', 'is_open',
       'latitude', 'longitude', 'name', 'postal_code', 'review_count', 'stars',
       'state'],
      dtype='object')

In [14]:
bus_df['categories'] = [str(X).lower() for X in bus_df['categories']]
cats = ['pizza, restaurants','restaurants, pizza','italian, restaurants, pizza',
        'restaurants, italian, pizza','restaurants, pizza, italian','pizza, restaurants, italian',
        'pizza, italian, restaurants','italian, pizza, restaurants']
bus_za = bus_df[bus_df.categories.isin(cats)]

In [20]:
bus_za.head(2)

,address,attributes,attributes.AcceptsInsurance,attributes.AgesAllowed,attributes.Alcohol,attributes.Ambience,attributes.BYOB,attributes.BYOBCorkage,attributes.BestNights,attributes.BikeParking,...,hours.Tuesday,hours.Wednesday,is_open,latitude,longitude,name,postal_code,review_count,stars,state
163,"2277 10th Line, Suite 3",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,43.999428,-79.236888,Little Caesars Pizza,L4A 6B6,3,4.0,ON
286,1535 Lowrie St,NaN,NaN,NaN,u'none',"{'romantic': False, 'intimate': False, 'classy...",NaN,NaN,NaN,NaN,...,NaN,NaN,1,40.462008,-79.983804,Ron's Pizza Palace,15212,6,3.0,PA

In [19]:
bus_za.shape

(2712, 60)

In [21]:
del(bus_df)

**Dataframe of all pizza bussiness info**

In [25]:
bus_id_all = bus_za['business_id'].tolist()

In [26]:
len(bus_id_all)

2712

In [28]:
pd.to_pickle(bus_za, 'pizza_bussinesses_df.pkl')
pd.to_pickle(bus_id_all, 'pizza_businesses_ids.pkl')

**Dataframe of business sample**

In [23]:
sample = pd.DataFrame(bus_za.business_id.unique()).sample(250, random_state=80)
sample = sample[0].tolist()
sample[0:5]

['XBJ-NiV1ZLsydRwMRZwgpQ',
 'j6MtKpKdqZC2wXnQetGBIQ',
 '4HmMIJHY8lCdINvrxyyvrQ',
 'TPvVGmT4AY1mloktV-2Dpw',
 'yZE8Vwam62qWB5bO0kvp6w']

In [30]:
bus_za_sample = bus_za[bus_za['business_id'].isin(sample)]

In [31]:
len(bus_za_sample)

250

In [32]:
pd.to_pickle(bus_za_sample, 'pizza_businesses_df_sample.pkl')
pd.to_pickle(sample, 'pizza_businesses_ids_sample.pkl')

**2. REVIEWS**

In [33]:
review_df = pd.read_pickle('reviews.pkl')

In [55]:
review_df.head(3)

,business_id,cool,date,funny,review_id,stars,text,useful,user_id,cleaned
5,eU_713ec6fTGNO4BegRaww,0,2013-01-20 13:25:59,0,fdiNeiN_hoCxCMy2wTRW9g,4.0,I'll be the first to admit that I was not exci...,0,w31MKYsNFMrjhWxxAb5wIw,"[admit, tavolta, food, snob, group, friend, di..."
69,ZNB91myFoOYgyXoG5LQeGQ,0,2014-12-17 19:34:47,0,36xxeOr4m4UlRf9FM1HzdA,1.0,I took my wife out for a Birthday dinner with ...,1,liUNZm0tOJJ-d-pFCdqu9A,"[wife, birthday, dinner, daughter, alfonsos, f..."
268,R7eLlAdeIYsxux_Vm0l5sg,0,2015-01-18 15:33:08,0,af3W2YSy01Mx4HcAHuRP1w,2.0,"I went with the ziti. Just as I remembered, th...",3,v6MwW-qjrsDyvcGaLXGnoQ,"[ziti, sauce, pasta, pool, water, sauce, flavo..."

In [35]:
review_df = review_df[review_df['business_id'].isin(bus_id_all)]

In [44]:
review_df['cleaned'] = clean_sentences(review_df.text)
review_df['cleaned'] = [get_nouns(s) for s in review_df['cleaned']]
review_df['cleaned'] = [w_tokenizer.tokenize(str(X).strip('][').replace(',','')) for X in review_df['cleaned']]

In [46]:
review_sample = review_df[review_df['business_id'].isin(sample)]

In [118]:
review_sample_ids = list(review_sample['review_id'])

In [47]:
pd.to_pickle(review_df, 'pizza_reviews_df.pkl')
pd.to_pickle(review_sample, 'pizza_reviews_df_sample.pkl')

In [4]:
review_sample = pd.read_pickle('pizza_reviews_df_sample.pkl')

In [17]:
len(review_sample.business_id.unique())

250

In [18]:
print(review_sample['review_id'][review_sample['stars']==3].iloc[800])

L8rjcPweOAUDwIJybrkb0Q

**3. SENTENCES FROM REVIEWS**

In [90]:
review_df.head(2)

,business_id,cool,date,funny,review_id,stars,text,useful,user_id,cleaned
5,eU_713ec6fTGNO4BegRaww,0,2013-01-20 13:25:59,0,fdiNeiN_hoCxCMy2wTRW9g,4.0,I'll be the first to admit that I was not exci...,0,w31MKYsNFMrjhWxxAb5wIw,"[admit, tavolta, food, snob, group, friend, di..."
69,ZNB91myFoOYgyXoG5LQeGQ,0,2014-12-17 19:34:47,0,36xxeOr4m4UlRf9FM1HzdA,1.0,I took my wife out for a Birthday dinner with ...,1,liUNZm0tOJJ-d-pFCdqu9A,"[wife, birthday, dinner, daughter, alfonsos, f..."

In [104]:
sentences = split_sentences(review_df)

In [109]:
review_df.shape

(103964, 10)

In [108]:
len(sentences.review_id.unique())

103963

In [117]:
sentences['cleaned'] = clean_sentences(sentences.sentence)
sentences['cleaned'] = [get_nouns(s) for s in sentences['cleaned']]
#sentences['cleaned'] = [w_tokenizer.tokenize(X.strip('][').replace(',','')) for X in sentences['cleaned']]

In [115]:
sentences['cleaned'] = [str(X) for X in sentences['cleaned']]

In [119]:
sentences_sample = sentences[sentences['review_id'].isin(review_sample_ids)]

In [121]:
sentences_sample.head()

,review_index,sentence_index,sentence,review_id,cleaned
45,491,0,I recently visited Pieology for the first time...,CsZu4mX7zrVw5kfM6Ca9wQ,"[pieology, time, friend, selection, taste, pie]"
46,491,1,"For a set price you can pick your crust, base...",CsZu4mX7zrVw5kfM6Ca9wQ,"[price, pick, crust, base, sauce, variety]"
47,491,2,The pizzas are made to order and placed in th...,CsZu4mX7zrVw5kfM6Ca9wQ,"[pizza, order, minute]"
48,491,3,There are gluten-free options as well for th...,CsZu4mX7zrVw5kfM6Ca9wQ,[option]
49,491,4,\n\nOverall I'd have to say I'm a fan of Pie...,CsZu4mX7zrVw5kfM6Ca9wQ,"[fan, pieology, return, future]"

In [ ]:
pd.to_pickle(sentences, 'pizza_sentences.pkl')
pd.to_pickle(sentences_sample, 'pizza_sentences_sample.pkl')

**END NOTEBOOK**

***